
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hotel Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Assets/Admin/css/shop-homepage.css" rel="stylesheet">
    <link href="/Assets/Admin/css/my.css" rel="stylesheet">
    <script src="~/Assets/Admin/AngularJs/angular.min.js"></script>
    <script src="~/Assets/Admin/AngularJs/app.js"></script>
    <script src="~/Assets/Admin/AngularJs/LoginController.js"></script>
  

</head>

<body>
    <!-- Page Content -->
    <div class="container" ng-controller="LoginController">
        <!-- slider -->
        <div class="row carousel-holder">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Đăng nhập</div>
                    <div class="panel-body">
                        <form name="form" novalidate>
                            <div>
                                <label>Username</label>
                                <input type="email" class="form-control" placeholder="Username" name="username"
                                       ng-model="username" required ng-minlength="6" ng-maxlength="18">
                                <span class="alert-danger" ng-show="form.username.$error.required">Username is not required</span>
                                <span class="alert-danger" ng-show="form.username.$error.minlenght">Username không nhỏ hơn 6 ký tự</span>
                                <span class="alert-danger" ng-show="form.username.$error.maxlength">Username không vượt quá 18 ký tự</span>
                            </div>
                            <br>
                            <div>
                                <label>Mật khẩu</label>
                                <input type="password" class="form-control" name="password" ng-model="password"
                                        required ng-minlength="6" ng-maxlength="18">
                                <span class="alert-danger" ng-show="form.password.$error.required">Password is not required</span>
                                <span class="alert-danger" ng-show="form.password.$error.minlenght">Mật khẩu không nhỏ hơn 6 ký tự</span>
                                <span class="alert-danger" ng-show="form.password.$error.maxlength">Mật khẩu không vượt quá 18 ký tự</span>
                            </div>
                            <br>
                            <button type="button" class="btn btn-default"  ng-click="DangNhap()">
                                Đăng nhập
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- end slide -->
    </div>
    <!-- end Page Content -->
    <!-- end Footer -->
    <!-- jQuery -->
    <script src="/Assets/Admin/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/Admin/js/bootstrap.min.js"></script>
    <script src="/Assets/Admin/js/my.js"></script>

</body>

</html>

